html, body{
  height: 100%;
}

#app{
  height: 100% !important;
}

#submit_file:hover{
  opacity: .5;
}

.piano-container {
  width: 400px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  background-image: url("/images/partiture/piano.jpeg"); /* Asegúrate de usar la ruta correcta de tu imagen */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
}
